In [107]:
from matplotlib import pyplot as plt
import numpy as np
import csv
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn import metrics 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix,accuracy_score

In [108]:
dataFrame = pd.read_csv('C:\\Users\\Bhavya Hingorani\\Desktop\\dataset.csv')
# C:\\Users\\Bhavya Hingorani\\Desktop\\dataset.csv

In [119]:
dataFrame['dayHour'] = dataFrame['step'] % 24
dataFrame['isM'] = dataFrame['nameDest'].str.contains('M')

dataFrame['origDiff'] = dataFrame['oldbalanceOrg'] - dataFrame['newbalanceOrig']
dataFrame['DestDiff'] = dataFrame['oldbalanceDest'] - dataFrame['newbalanceDest']

dataFrame.head(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,...,dayHour,isM,error,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER,origDiff,DestDiff
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,...,1,True,9839.64,0,0,0,1,0,9839.64,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,...,1,True,1864.28,0,0,0,1,0,1864.28,0.0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,...,1,False,181.00,0,0,0,0,1,181.00,0.0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,...,1,False,-21001.00,0,1,0,0,0,181.00,21182.0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,...,1,True,11668.14,0,0,0,1,0,11668.14,0.0

In [110]:
dataFrame = dataFrame.join(pd.get_dummies(dataFrame[['type']], prefix='type'))    
dataFrame.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,dayHour,isM,error,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0,1,True,9839.64,0,0,0,1,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0,1,True,1864.28,0,0,0,1,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0,1,False,181.00,0,0,0,0,1
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0,1,False,-21001.00,0,1,0,0,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0,1,True,11668.14,0,0,0,1,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0,1,True,7817.71,0,0,0,1,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0,1,True,7107.77,0,0,0,1,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0,1,True,7861.64,0,0,0,1,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0,1,True,2671.00,0,0,0,1,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0,1,False,3788.56,0,0,1,0,0

In [121]:
trainSet  = dataFrame.iloc[:int(((len(dataFrame)*70)/100))]
testSet  = dataFrame.iloc[int(((len(dataFrame)*70)/100)):]

In [112]:
from sklearn.linear_model import LogisticRegression

In [144]:
# xTrain = ['step', 'type', 'amount', '']
xTrain = trainSet[['amount','dayHour', 'isM', 'origDiff', 'DestDiff', 'type_CASH_IN', 'type_CASH_OUT', 'type_PAYMENT', 'type_DEBIT', 'type_TRANSFER']]
yTrain = trainSet['isFraud']
xTest = testSet[['amount','dayHour', 'isM', 'origDiff', 'DestDiff', 'type_CASH_IN', 'type_CASH_OUT', 'type_PAYMENT', 'type_DEBIT', 'type_TRANSFER']]
yTest = testSet['isFraud']

In [114]:
model = LogisticRegression()

In [146]:
model.fit(xTrain, yTrain)

LogisticRegression()

In [137]:
model.predict(xTest)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [138]:
print(model.score(xTest, yTest))
# model.predict_proba(xTest)

0.9976058080895396

In [147]:
# print(model.predict([[181, 4, 0, 10000, 0, 0, 0, 0, 1]]))
y_pred=model.predict(xTest)
print(metrics.classification_report(yTest ,y_pred))

print(confusion_matrix(yTest, y_pred))
print(accuracy_score(yTest, y_pred))

# print(model.predict_proba([[181, 4]]))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00   1904216
           1       0.52      0.45      0.48      4570

    accuracy                           1.00   1908786
   macro avg       0.76      0.73      0.74   1908786
weighted avg       1.00      1.00      1.00   1908786

[[1902301    1915]
 [   2494    2076]]
0.9976901548942626